<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Ivy Bound</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
<div align="center">


<form action="{{ url_for('handle_data') }}" method="post">
<input style="width: 60%" class="form-control" type="text" name="projectFilepath" placeholder="Search" aria-label="Search">
    <input type="submit">
</form>

</div>

<div class="Item ItemDiscussion Role_RegisteredUser" id="Discussion_2126809">
<div class="Discussion">
<div class="Item-Header DiscussionHeader">
<div class="AuthorWrap">
<span class="Author">
<a class="PhotoWrap" href="/profile/brettm17" title="brettm17"><img alt="brettm17" class="ProfilePhoto ProfilePhotoMedium" src="https://us.v-cdn.net/5020364/uploads/defaultavatar/JHJ7RRM4D2PQ.jpg"/></a><a class="Username" href="/profile/brettm17">brettm17</a> </span>
<span class="AuthorInfo">
<span class="MItem RoleTitle">Registered User</span> <span class="MItem PostCount">Posts: <b>22</b></span> <span class="Rank MItem" title="Junior Member">Junior Member</span> </span>
</div>
<div class="Meta DiscussionMeta">
<span class="MItem DateCreated">
<a class="Permalink" href="https://talk.collegeconfidential.com/columbia-school-general-studies/2126809-columbia-gs-fall-2019-early-regular-decision-thread.html" rel="nofollow"><time datetime="2019-02-16T01:06:17+00:00" title="February 15, 2019  9:06PM">February 15</time></a> </span>
<span class="MItem Category"> in <a href="https://talk.collegeconfidential.com/columbia-school-general-studies/">Columbia School of General Studies</a></span> </div>
</div>
<div class="Item-BodyWrap">
<div class="Item-Body">
<div class="Message userContent">
I didn't see a thread posted for those who are applying for the Fall 2019 semester, so here we go.<br/>
<br/>
I'm planning to submit all of my application materials by March 1st for the Early Decision deadline. I just took the GSAE yesterday, and I'm still tweaking my essay. I'm told my recommendation letters are almost done. I can't wait to have everything finally submitted.<br/>
<br/>
I'm so excited about this awesome opportunity. Good luck to all of you applying! </div>
<div class="Reactions"><span class="Column-Score Hidden">0</span><span class="ReactMenu"><span class="ReactButtons"> </span></span> <span class="Bullet">·</span> <a class="ReactButton ReactReply" href="/entry/signin?Target=discussion%2F2126809%2Fcolumbia-gs-fall-2019-early-regular-decision-thread%2Fp1"><span aria-hidden="true" class="Sprite SpReply"></span> Reply</a> <span class="Bullet">·</span> <a class="ReactButton PopupWindow" href="https://talk.collegeconfidential.com/post/facebook/discussion?id=2126809" rel="nofollow"><span aria-hidden="true" class="Sprite ReactSprite ReactFacebook"></span><span class="sr-only">Share on Facebook</span></a></div> </div>
</div>
</div>
</div>
  </body>
</html>
